
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


html, body {
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
    background-color: #F5F5F5;
    color: #F5F5F5;
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden
}


.espaco {
    height: 100px;
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.navbar-nav {
    display: flex;
    column-gap: 40px;
    padding-left: 10%;
    font-size: 18px;
}

.navbar-nav a {
    color: black;
}

.container-fluid {
    background-color:white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: black;
    /* caso for trocar a cor da pagina, remover essa sessao toda */
}

.nav-link.active {
    display: inline-block; /* Necessário para que o border funcione corretamente */
    border-bottom: 2px solid black; /* Define a linha */
    padding-bottom: 1px;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: white!important;
}

.navbar-brand{
    padding: 0;
    background-color:white;
}

.navbar-toggler {
    max-width: 48px;
}

.navbar-toggler-icon {
    width: 25px;
    padding: 0;
}


.logo {
    width: 55px;
    margin-left: 60px;
}

.btn-primary {
    background-color: #F5F5F5;
    border: none;
    top: 50px;
    width: 100%;
}

.botao-cta {
    margin-left: 100%;
    white-space: nowrap;
    background-color: #5FC146;
    border: none;
}

.botao:hover {
    background-color: #004080; /* Cor quando o mouse passa por cima */
}


.banner {
    width: 100%;
    height: 70vh;
    background-image: url('img/banner2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.texto-b {
    text-align: left;
    color: white;
    font-family: 'Poppins', sans-serif;
    max-width: 40%;
}

.texto-b h1 {
    font-size: 5vw; /* Ajusta o tamanho do título conforme a largura da tela */
    line-height: 1.2;
}

.texto-b p {
    font-size: 2vw;
    margin-top: 40px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88%;
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px;
}

.texto {
    flex: 1;
    padding-right: 40px;
}

.texto h1 {
    color: #041B3C;
    font-size: 31px;
    font-weight: bold;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.texto p {
    color: black;
    font-size: 20px;
    margin: 10px 0;
    margin-bottom: 15px;
}

.botao {
    background-color: #ff8000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
}

.imagem {
    flex: 1;
    display: flex;
    justify-content: center;
}

.imagem img {
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 3);
}

.produtos {
    display: block;
    width: 100%;
    height: 200px;
    color: black;
    text-align: center;
}

.produtos h3 {
    font-size: 35px;
    padding-bottom: 20px;
    color: #041B3C;
    padding-left: 10%;
    padding-right: 10%;
}

.produtos p {
    font-size: 20px;
    padding-bottom: 2px;
    padding-left: 10%;
    padding-right: 10%;
}

.produtos span {
    color: #ED7F3D;
}

/* Containers */

.cards-container {
    padding: 50px;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px; /* Aumenta o espaço vertical e diminui o espaço lateral */
}

.col-12.col-md-4 {
    display: flex;
    justify-content: center;
    flex: 0 0 calc(33.33% - 20px); /* Subtrai o espaço lateral do gap */
    max-width: calc(33.33% - 20px); /* Subtrai o espaço lateral do gap */
    margin-bottom: 20px; /* Aumenta o espaço vertical entre as linhas de cards */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0b2746;
    color: white;
    width: 100%;
    max-width: 350px; /* Para não esticar demais */
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 3);
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
}

.card:hover {
    transform: scale(1.05);
}

.card i {
    font-size: 80px;
    height: 80px;
    display: block;
    margin-bottom: 35px;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
}

.servicos {
    position: relative;
    width: 100%;
}

.servicos img {
    width: 100%;
    height: 400px;
    display: block;
}

.conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 80%;
}

.conteudo h2 {
    font-size: 45px;
    padding-bottom: 25px;
}

.botao-servicos {
    background-color: #5396dd;
    box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.7);
}

.escolher {
    display: block;
    width: 100%;
    height: 100px;
    color: black;
    text-align: center;
}

.escolher h3 {
    font-size: 40px;
    padding-bottom: 20px;
    color: #041B3C;
}

.escolher p {
    font-size: 20px;
    padding-bottom: 60px;
}

.cards-container-produtos{
    padding: 50px;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px; /* Aumenta o espaço vertical e diminui o espaço lateral */
}

.col-12.col-md-4 {
    display: flex;
    justify-content: center;
    flex: 0 0 calc(33.33% - 20px); /* Subtrai o espaço lateral do gap */
    max-width: calc(33.33% - 20px); /* Subtrai o espaço lateral do gap */
    margin-bottom: 20px; /* Aumenta o espaço vertical entre as linhas de cards */
}

.card-produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: white;
    color: black;
    width: 100%;
    max-width: 350px; /* Para não esticar demais */
    height: 180px;
    text-align: left;
    padding: 20px;
    border-radius: 15px;
    border-bottom-left-radius: 40px;
    box-shadow: -15px 20px 15px 0px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
}

.card-produtos:hover {
    transform: scale(1.05);
}

.card-produtos i {
    font-size: 35px;
    height: 80px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card-produtos h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-produtos p {
    font-size: 14px;
}


/* Footer */


.footer {
    background-color: #e4e4e4;
    height: 300px;
    display: flex;
    align-items: center;
}

.cont-footer {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 33.5%;
    max-height: 200px;
    min-height: 200px;
    color: black;
}

.cont-footer h1 {
    font-size: 25px;
    padding-top: 0;
    padding-bottom: 15px;
    
}

.cont-footer p {
    font-size: 15px;
}


.espaco-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
    padding-bottom: 10px;
}

.logo-f p {
    padding-top: 15px;
    padding-left: 10px;
    font-size: 20px;
    color: black;
}

.logo-f h3 {
    padding-top: 15px;
    padding-left: 10px;
    font-size: 15px;
    color: black;
}

.logo-footer {
    width: 80px;
}

.contato-f {
    text-align: left;
    align-items: left;
    justify-content: left;  
}

.contato-f p {
    margin-bottom: 8px;
}

.contatos {
    display: flex;
    gap: 5px;
}

.redes {
    display: flex;
    gap: 5px;
}

.redes-sociais {
    text-align: left;
    align-items: left;
    justify-content: left;  
}

/* Quem somos */



.quem-somos h2 {
    padding-top: 120px;
}

.produtos-quem-somos {
    padding-top: 20px;
    padding-bottom: 15px;
    min-height: 300px;
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
}

/* Responsivo */
@media (max-width: 768px) {

    .col-12.col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .card {
        width: 100%; /* Faz o card ocupar toda a largura da coluna */
        height: 300px; /* Tamanho fixo para o card */
        border-radius: 10px;
        max-width: 350px; /* Limita a largura máxima do card */
        margin: 0 auto; 
      }

    .container {
        padding-top: 20px;
        flex-direction: column;
        text-align: center;
    }

    .texto {
        padding-right: 0;
        padding-bottom: 20px;
    }
    
    .cards-container {
        flex-direction: column;
        align-items: center;
        
    }
    .logo {
        width: 55px;
        margin-left: 0px;
    }
    .botao-cta {
        margin-left: 0;
    }
    .navbar-nav {
        font-size: 15px;
    }
    .botao-cta a{
        transform: scale(0.8);
        padding-left: 0px;
    }
    .espaco {
        display: none;
    }
    .botao {
        margin-bottom: 30px;
    }

    .conteudo h2 {
        font-size: 31px;
        padding-top: 70px;
    }
    .conteudo p {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .produtos {
        padding-bottom: 350px;
        height: auto;
    }

    .produtos h3 {
        font-size: 30px;
    }

    .escolher {
        padding-bottom: 300px;
    }
    .escolher h3 {
        padding-top: 100px;
        font-size: 34px;
    }
    .footer {
        display: flex;         /* Ativa o Flexbox */
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .cont-footer {
        display: flex;         /* Ativa o Flexbox */
        flex-direction: column;
        margin-bottom: 0px;
    }
    .espaco-logo {
        display: flex;
        width: 412px;
        padding-right: 30px;
        padding-top: 50px;
    }
    .logo-f h3 {
        padding-top: 0;
    }
    .contato-f {
        width: 250px;
        padding-left: 30px;
    }
    .contato-f h1 {
        padding-left: 20px;
    }
    .redes-sociais {
        width: 200px;
    }
    .espaco-quem-somos {
        padding-top: 20px;
    }
    .produtos {
        padding-bottom: 0;
    }
    .produtos-quem-somos {
        height: auto;
        margin-bottom: 0;
    }
}


@media (max-width: 768px) {
    .banner {
        display: flex; /* Usa flexbox para controlar o alinhamento dos itens */
        flex-direction: column; /* Organiza os itens verticalmente */
        justify-content: flex-start; /* Alinha ao topo */
        align-items: flex-start;
        padding-top: 120px;
        background-image: url(./img/b-mobile2.png);
        background-size: cover;
        background-position: center;
        }

    .texto-b {
        max-width: 80%;
        text-align: left;
        margin-top: 0;
    }

    .texto-b h1 {
        font-size: 35px;
    }

    .texto-b p {
        font-size: 15px;
    }
}